---
---

@charset "utf-8";

// Theme colors
$theme-text: #dfe0e2;
$theme-background: #071013;
$theme-primary: #eb5160;
$theme-secondary: #b7999c;
$theme-tertiary: #aaaaaa;

// Semantic colors
$image-overlay-color: $theme-secondary;
$image-overlay-transparency: 0.6;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "mixins",
    "base"
;
