<div class="stage">
	<div class="stage__background">
	</div>
	<div class="stage__content">
		<div class="stage__social-links">
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="stage__social-link">
				<img src="/images/social-links/twitter.svg">
			</a>
	
			<a href="https://github.com/{{ site.github_username }}" target="_blank" class="stage__social-link">
				<img src="/images/social-links/github.svg">
			</a>
	
			<a href="https://github.com/{{ site.github_username }}" target="_blank" class="stage__social-link">
				<img src="/images/social-links/linkedin.svg">
			</a>
		</div>
		<img class="stage__avatar" src="/images/avatar.jpeg">
		<div class="stage__name">
			Jana Grill
		</div>
		<div class="stage__description">
			{{ site.description }}
		</div>
	</div>
</div>