.projects {
	&__title {
		font-size: 40px;
		text-align: center;
		margin: $spacing-large 0;
	}

	&__items {
		display: flex;
		justify-content: center;
		flex-flow: wrap;
	}

	&__item {
		flex: 0 0 200px;
		max-width: 100%;
		color: $color-primary-text;
		text-decoration: none;
		background: white;
		padding: $spacing-large;
		margin: $spacing-default;
		transition: transform 0.2s ease-in-out;
		transform: translateY(0);

		&:hover {
			transform: translateY(-5px);
		}
	}

	&__item-icon {
		display: block;
		width: 40px;
		height: 40px;
		margin-bottom: $spacing-large;
	}

	&__item-title {
		margin-bottom: $spacing-default;
		font-size: 20px;
		font-weight: 700;
	}
}