.stage {
	display: flex;
	align-items: center;
    position: relative;
    min-height: 70vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: 
            linear-gradient(
                rgba($image-overlay-color, $image-overlay-transparency), 
                rgba($image-overlay-color, $image-overlay-transparency)
            ),
            url(../images/belgrade.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__content {
    	position: relative;
    	color: $color-secondary-text;
    	text-align: center;
    	padding: $spacing-default;
    }

    &__avatar {
    	display: block;
    	width: 100px;
    	margin: 0 auto;
    	border-radius: 50%;
    	margin-bottom: 20px;
    }

    &__name {
    	font-size: 40px;
    	margin-bottom: 10px;
    }

    &__description {

    }
}