.stage {
    display: flex;
    justify-content: flex-end;
	align-items: center;
    position: relative;
    min-height: 70vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: 
            linear-gradient(
                rgba($image-overlay-color-start, $image-overlay-transparency), 
                rgba($image-overlay-color-end, $image-overlay-transparency)
            ),
            url(../images/belgrade.jpeg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
    	position: relative;
    	color: $color-secondary-text;
    	text-align: right;
    	padding: 50px;
    }

    &__avatar {
    	display: block;
    	width: 100px;
    	margin-left: auto;
    	border-radius: 50%;
    	margin-bottom: 20px;
    }

    &__name {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
    	margin-bottom: 4px;
    }

    &__description {
        font-weight: 700;
    }

	&__social-links {
        align-self: flex-start;
		margin: 0 (-$spacing-default);
	}

	&__social-link {
		padding: 0 $spacing-default;
        text-decoration: none;
        
        img {
            display: inline-block;
            width: 30px;
            height: 30px;
        }
	}
}