$spacing-default: 8px;
$spacing-large: 50px;

// Theme
$color-black: #071013;
$color-pink: #eb5160;
$color-rose: #b7999c;
$color-gray: #aaaaaa;
$color-ivory: #dfe0e2;

// Semantic color
$color-background: $color-black;
$color-primary-text: $color-ivory;
$color-secondary-text: $color-black;
$color-link: $color-pink;

$image-overlay-color-start: $color-black;
$image-overlay-color-end: $color-gray;
$image-overlay-transparency: 0.6;