$spacing-default: 8px;
$spacing-large: 50px;

// Theme
$color-black: #00171F;
$color-dark-blue: #003459;
$color-cerulean: #007EA7;
$color-light-blue: #00A8E8;
$color-ivory: #DDF0FF;

// Semantic color
$color-background: $color-black;
$color-grid-background: $color-dark-blue;
$color-primary-text: $color-ivory;
$color-secondary-text: $color-light-blue;
$color-link: $color-cerulean;

$image-overlay-color-start: $color-dark-blue;
$image-overlay-color-end: $color-black;
$image-overlay-transparency: 0.6;